@import url('../fonts/fonts.css');

:root {
  --light-gray: #545454;
}

.button:hover {
  opacity: 0.6;
}

button:active {
  border-style: outset;
}

.page {
  position: relative;
  color: white;
  background-color: black;
  max-width: 1280px;
  min-width: 282px;
  margin: 0 auto;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
}

.header {
  display: grid;
  row-gap: 26px;

  margin: auto;
  margin-top: 45px;
  width: calc(100% - 2 * 200px);
}

.header-actions-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-link,
.header-link:visited {
  text-decoration: none;
  color: white;
}

.header-link:hover {
  opacity: 0.6;
}

.header-logo {
  font-size: 32px;
  line-height: 1.22;
}

.auth-header-link {
  font-size: 18px;
  line-height: 1.22;
}

.header-line {
  height: 0px;

  opacity: 0.7;
  border: 1px solid #545454;
}

.profile {
  display: grid;
  margin: auto;
  margin-top: 40px;
  width: calc(100% - 2 * 200px);

  transition: all 1s;

  grid-template-columns: 1fr 4fr 1fr;
  column-gap: 20px;
}

.avatar {
  position: relative;
  width: 120px;
  height: 120px;
}
.avatar:hover {
  cursor: pointer;
}

.avatar:hover .avatar-edit-icon {
  opacity: 1;
  transition: 0.5s ease-in-out;
}

.avatar:hover .avatar-image {
  opacity: 0.3;
}

.avatar-edit-icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
}

.avatar-image {
  width: 100%;
  border-radius: 50%;
  z-index: 2;
}

.profile-info {
  display: grid;
  grid-template-columns: minmax(200px, 312px) 24px;
  column-gap: 10px;

  align-self: center;
}

.profile-info-name {
  padding: 0;
  margin: 0;

  font-family: 'Inter';
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.edit-profile-button {
  width: 24px;
  height: 24px;
  color: white;
  border-color: white;
  background-color: black;

  align-self: center;
}

.profile-info-description {
  padding: 0;
  margin: 0;
  margin-top: 16px;

  font-family: 'Inter';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.add-button {
  width: 150px;
  background-color: black;
  color: white;
  border-color: white;

  font-size: 2.5em;

  align-self: center;
}

.element {
  padding: 0;
  margin: 0;

  list-style: none;
  color: black;
  background-color: white;
  min-width: 282px;

  border-radius: 5%;

  overflow: hidden;
}

.element-like-disabled {
  content: url('../images/like-disabled.svg');
}

.element-like-disabled:hover {
  content: url('../images/like-hover.svg');
}

.element-like-active {
  content: url('../images/like-active.svg');
}

.content {
  padding: 0;
  margin: auto;
  margin-top: 40px;

  width: calc(100% - 2 * 200px);

  transition: all 1s;
}

.elements {
  padding: 0;
  margin: 0;

  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  gap: 17px;
}

.element {
  position: relative;
}

.element-image {
  width: 100%;
  overflow: visible;
}

.element-trash-icon {
  position: absolute;
  margin: 0;
  padding: 0;
  right: 15px;
  top: 18px;

  opacity: 0;
}

.element:hover .element-trash-icon {
  opacity: 1;
}

#trash:hover {
  opacity: 0.5;
}

.element-title {
  display: flex;

  margin-left: 21px;
  margin-right: 15px;

  justify-content: space-between;
  align-items: center;
}

.element-paragraph {
  max-width: 80%;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.like-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.like-counter {
  width: 10px;
  height: 13px;

  margin: 0;
  padding: 0;
  margin-top: 3px;

  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  text-align: center;
}

.footer {
  width: calc(100% - 2 * 200px);
  margin: auto;
  margin-top: 66px;
  margin-bottom: 60px;
}

.footer-sign {
  padding: 0;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;

  color: var(--light-gray);
}

.popup-wrapper {
  position: absolute;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup {
  position: fixed;
  width: 430px;
  left: calc(50% - (430px - 32px) / 2);
  top: 195px;
}

.popup-close-button {
  position: absolute;
  top: -32px;
  right: -32px;
  padding: 0;
  border: none;
  background: url('../images/close-icon.svg') center no-repeat;
  width: 32px;
  height: 32px;
}

.popup-close-button:hover {
  opacity: 0.6;
}

.popup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  border-radius: 3%;

  background-color: white;
  color: black;
}

.popup-form-header {
  padding: 0;
  margin: 0;
  margin-top: 34px;
  margin-bottom: 30px;

  width: calc(100% - 2 * 36px);

  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;

  color: black;
}

.popup-form-label {
  width: calc(100% - 2 * 38px);
  padding-bottom: 38px;
}

.popup-form-input {
  width: 100%;
  padding-bottom: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;

  border-bottom: 1px solid rgba(black, 0.2);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.popup-form-input:focus {
  outline: none;
}

.popup-form-submit {
  width: calc(100% - 2 * 34px);
  height: 50px;

  margin-bottom: 37px;

  border-style: hidden;
  border-radius: 5px;
  background-color: black;
  color: white;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.popup-form-submit:hover {
  opacity: 0.8;
}

.auth {
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;

  width: calc(100% - 2 * 416px);
  min-width: 359px;
}

.auth-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form-header {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;

  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
}

.auth-form-label {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;

  width: 100%;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #cccccc;
}

.auth-form-input {
  width: 100%;

  padding-bottom: 10px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;

  color: white;
  border-bottom: 1px solid rgba(black, 0.2);
  background-color: black;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.auth-form-input:focus {
  outline: none;
}

.auth-form-submit {
  margin: 0;
  padding: 0;
  margin-top: 180px;

  width: 100%;
  height: 50px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
}

.alredy-have-account-link {
  margin-top: 15px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
}

.popup-auth {
  height: 330px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 3%;

  background-color: white;
  color: black;
}

.popup-auth-image {
  margin-top: 60px;
}

.popup-auth-message {
  margin: 0;
  padding: 0;
  margin-top: 30px;

  width: 70%;

  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

@media screen and (max-width: 1078px) {
  .auth {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .auth-form-header {
    margin-bottom: 40px;
  }
  .auth-form-submit {
    margin-top: 140px;
  }

  .alredy-have-account-link {
    margin-top: 20px;
  }
}

@media screen and (max-width: 919px) {
  .header {
    margin-top: 28px;
    width: 100%;

    display: grid;
    row-gap: 31px;
  }

  .header-logo {
    margin-left: 27px;
  }

  .auth-header-link {
    margin-right: 27px;
  }

  .profile {
    margin: auto;
    margin-top: 42px;
    width: calc(100% - 2 * 19px);

    grid-template-columns: 1fr;
  }

  .avatar {
    justify-self: center;
  }

  .add-button {
    margin: 0;
    margin-top: 36px;

    width: 100%;
  }

  .profile-info {
    margin: 0;
    margin-top: 26px;
    margin-left: 34px;
    justify-self: center;
  }

  .profile-info-name {
    font-size: 27px;
    line-height: 1.22;
    text-align: center;
  }

  .profile-info-description {
    font-size: 14px;
    line-height: 1.21;

    text-align: center;
  }

  .content {
    margin: auto;
    margin-top: 36px;

    width: calc(100% - 19px * 2);

    justify-content: center;
  }

  .footer {
    margin-top: 48px;
    margin-bottom: 36px;
    width: calc(100% - 2 * 19px);
  }

  .popup {
    position: fixed;
    width: 430px;
    left: calc(50% - (430px - 32px) / 2);
    top: 195px;
  }

  .popup-form {
    min-height: 200px;
  }

  .popup-form-submit {
    margin: 0;
    margin-bottom: 25px;

    width: calc(100% - 2 * 19px);
    height: 46px;
  }

  .popup-form-label {
    width: calc(100% - 2 * 26px);
  }

  .auth {
    margin-top: 40px;
  }

  .auth-form-header {
    margin-bottom: 40px;
  }
  .auth-form-submit {
    margin-top: 140px;
  }
}

@media screen and (max-width: 700px) {
  .popup {
    position: fixed;
    width: 280px;
    left: calc(50% - (280px) / 2);
    top: 130px;
  }

  .popup-close-button {
    right: 0;
    width: 16px;
    height: 16px;
  }

  .popup-auth {
    height: 308px;
  }

  .popup-auth-image {
    margin-top: 50px;
  }

  .popup-auth-message {
    margin-top: 40px;

    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (max-width: 420px) {
  .auth {
    width: calc(100% - 2 * 30px);
  }
}
